<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>CMYLMZEE</title>

    <style>
        body {

            position: relative;
        }

        .Anasayfa {

            background-image: url(https://i.pinimg.com/originals/77/6d/93/776d93e7a5c88a2eda724a1e9c8ba2d8.jpg);
        }

    </style>



</head>

<body data-spy="scroll" data-targer=".navbar" data-offset="50">



    <div class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm">

        <div class="container">

            <a href="#" class="navbar-brand">
                <i class="fab fa-accusoft"></i>&nbsp;Site Adı
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#Anasayfa">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Hakkımızda">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Twitch">Twitch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#slide">Resimler</a>
                    </li>

                </ul>

            </div>

        </div>
    </div>


    <div class="bg-secondary " style="background-image: url(https://i.pinimg.com/originals/77/6d/93/776d93e7a5c88a2eda724a1e9c8ba2d8.jpg); padding-bottom: 350px; padding-top: 150px;" id="Anasayfa">
        <div class="container">
            <h1>Anasayfa</h1>
            <p class="text-white mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi temporibus unde obcaecati error exercitationem expedita ullam optio inventore ad ex, accusantium, est, cum nemo perferendis consequuntur dolores odio vel adipisci.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi temporibus unde obcaecati error exercitationem expedita ullam optio inventore ad ex, accusantium, est, cum nemo perferendis consequuntur dolores odio vel adipisci.
            </p>

        </div>

    </div>

    <div class="bg-danger " style="padding-bottom: 350px; padding-top: 350px;" id="Hakkımızda">
        <div class="container">
            <h1>Hakkımızda</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi temporibus unde obcaecati error exercitationem expedita ullam optio inventore ad ex, accusantium, est, cum nemo perferendis consequuntur dolores odio vel adipisci.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi temporibus unde obcaecati error exercitationem expedita ullam optio inventore ad ex, accusantium, est, cum nemo perferendis consequuntur dolores odio vel adipisci.
            </p>

        </div>

    </div>


    <div class="bg-primary text-white" style=" background-image: url(https://i.pinimg.com/originals/a4/ae/85/a4ae857d46a7667872b86d6a11cb9a0d.jpg); padding-bottom: 350px; padding-top: 350px;" id="Twitch">
        <div class="container">
            <h1>Twitch</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi temporibus unde obcaecati error exercitationem expedita ullam optio inventore ad ex, accusantium, est, cum nemo perferendis consequuntur dolores odio vel adipisci.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi temporibus unde obcaecati error exercitationem expedita ullam optio inventore ad ex, accusantium, est, cum nemo perferendis consequuntur dolores odio vel adipisci.
            </p>


        </div>

    </div>

    <div class="carousel slide bg-secondary" style="padding-top: 350px; padding-bottom: 350px;" id="slider" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img class="d-block w-100" src="https://instagram.fsaw1-6.fna.fbcdn.net/v/t51.2885-19/s320x320/106508875_300138571126010_729478137129587262_n.jpg?_nc_ht=instagram.fsaw1-6.fna.fbcdn.net&_nc_ohc=Y-s6jchHFh8AX-Kwgpx&tp=1&oh=4e8baa421aaf05d56154433813bb36c5&oe=603DDC8F" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="Resimler/people-character-avatar-person-icon-600w-1288182724.jpg" alt="">
            </div>
        </div>
        <a href="#slider" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon">
            </span>
        </a>
        <a href="#slider" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon">
            </span>
        </a>
        <ol class="carousel-indicators">
            <li data-target="#slider" data-slide-to="0"></li>
            <li data-target="#slider" data-slide-to="1"></li>
        </ol>
    </div>

    <div class="card-deck bg-secondary">
        <div class="card w-60" style="background-image: url(https://instagram.fsaw1-6.fna.fbcdn.net/v/t51.2885-19/s320x320/106508875_300138571126010_729478137129587262_n.jpg?_nc_ht=instagram.fsaw1-6.fna.fbcdn.net&_nc_ohc=Y-s6jchHFh8AX-Kwgpx&tp=1&oh=4e8baa421aaf05d56154433813bb36c5&oe=603DDC8F)">
            <div class="card-header">
                <h1>Card Title</h1>
            </div>
            <div class="card-body">
                <div class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt tenetur libero porro sed quo eligendi dolores ab delectus quae amet earum voluptatem, voluptatum animi quis quaerat excepturi voluptates dicta et.
                </div>
            </div>
        </div>
        <div class="card w-60">
            <img src="/Resimler/drop-water-icon-editable-vector-260nw-1316707097.png" class="card-img-top card-thumbnail" alt="">
            <div class="card-header">
                <h1>Card Title</h1>
            </div>
            <div class="card-body">
                <img src="/Resimler/drop-water-icon-editable-vector-260nw-1316707097.png" class="card-img-top card-thumbnail" alt="">
                <div class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt tenetur libero porro sed quo eligendi dolores ab delectus quae amet earum voluptatem, voluptatum animi quis quaerat excepturi voluptates dicta et.
                </div>
            </div>
        </div>
        <div class="card w-60">
            <img src="/Resimler/drop-water-icon-editable-vector-260nw-1316707097.png" class="card-img-top img-thumbnail" alt="">

            <div class="card-header">
                <h1>Card Title</h1>
            </div>
            <img src="/Resimler/drop-water-icon-editable-vector-260nw-1316707097.png" class="card-img-top card-thumbnail" alt="">
            <div class="card-body">
                <div class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt tenetur libero porro sed quo eligendi dolores ab delectus quae amet earum voluptatem, voluptatum animi quis quaerat excepturi voluptates dicta et.
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>

</html>
